.verify-container {
  background: #0f172a;
  min-height: 100vh;
  padding: 40px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;      /* horizontal center */
  justify-content: center;  /* vertical center */
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 30px;
}

.form-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  border-top: 4px solid #22c55e;
}

.form-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.form-sub {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.form-card label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

.form-card input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #0f172a;
  color: white;
  outline: none;
}

.form-card input:focus {
  border-color: #22c55e;
}

.form-card button {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #22c55e, #06b6d4);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form-card button:hover {
  opacity: 0.9;
}

/* STATUS BADGES */
.status {
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.status.safe {
  background: #16a34a;
}

.status.expired {
  background: #eab308;
  color: black;
}

.status.suspicious {
  background: #f97316;
}

.status.fake {
  background: #dc2626;
}

/* DATA CARD */
.data-card {
  margin-top: 20px;
  padding: 15px;
  background: #0f172a;
  border-radius: 10px;
  border: 1px solid #334155;
}